{% extends "../base.html" %}


{% block content_block %}

<h1 class="heading-xlarge">Give feedback</h1>
<label class="form-label" for="QuestionAreaGeneral">What is your feedback about?</label>
<span class="field-validation-valid error-message" data-valmsg-for="QuestionArea" data-valmsg-replace="true"></span>
<select class="form-control" data-val="true" data-val-required="The What do you want to tell us about? field is required." id="QuestionAreaGeneral" name="QuestionAreaGeneral"><option selected="selected" value="0">General</option>
    <option value="1">Funding</option>
    <option value="2">Careers</option>
    <option value="3">Qualifications</option>
    <option value="4">Course Search</option>
    <option value="5">Technical Support</option>
    <option value="6">Website</option>
    <option value="7">Customer Service</option>
</select><br><br>
<label class="form-label" for="textarea">
    Give us your feedback. If you're commenting on particular pages, it will help us if you include links to them.
</label>
<span class="form-hint">Do not include any personal or sign in information.</span>
<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
<p class="font-xsmall">Character limit is 1000.</p>

<a href="your-details" class="button">Continue</a>

{% endblock %}