{% extends "../base.html" %}


{% block content_block %}

<h1 class="heading-xlarge">Report a technical issue</h1>
<p>Give us as much detail as possible, such as the browser you were using when you experienced the issue and any error messages you were shown.</p>
<label class="form-label" for="textarea">Tell us about the issue you experienced. If you're commenting on particular pages, list them.</label>
<span class="form-hint">Do not include any personal or sign in information.</span>
<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>

<br>
<a href="your-details" class="button">Continue</a>

{% endblock %}