{% extends "../layout.html" %}

{% block page_title %}
Job profiles | Explore Careers
{% endblock %}




<!-- Related Careers -->
{% set RelatedCareerName1 = 'Assistant immigration officer' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Civil Service executive officer' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Diplomatic service officer' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Customs officer' %}
{% set RelatedCareerLink4 = '#' %}

{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<main id="content">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Job profiles</h1>
            <ul>
                <li><h2 class="heading-medium">Location 1 - Bottom of page</h2></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/fashion-model">Fashion model</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/firefighter">Firefighter</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/receptionist">Receptionist</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/train-driver">Train driver</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/1/web-designer">Web designer</a></li>

                <li><h2 class="heading-medium">Location 2 - Below how to become</h2></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/fashion-model">Fashion model</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/firefighter">Firefighter</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/receptionist">Receptionist</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/train-driver">Train driver</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/2/web-designer">Web designer</a></li>

                <li><h2 class="heading-medium">Location 3 - Seperate section (above training opportunities)</h2></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/fashion-model">Fashion model</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/firefighter">Firefighter</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/receptionist">Receptionist</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/train-driver">Train driver</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/3/web-designer">Web designer</a></li>

                <li><h2 class="heading-medium">Design 1 - Current feed design</h2></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/fashion-model">Fashion model</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/firefighter">Firefighter</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/receptionist">Receptionist</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/train-driver">Train driver</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/4/web-designer">Web designer</a></li>

                <li><h2 class="heading-medium">Design 2 - Number of opportunities</h2></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/fashion-model">Fashion model</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/firefighter">Firefighter</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/receptionist">Receptionist</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/train-driver">Train driver</a></li>
                <li><a href="/_sprintL1/e2e/job-profiles/5/web-designer">Web designer</a></li>
            </ul>


        </div>
    </div>
</main>


    {% endblock %}
















