{% extends "../layout.html" %}

{% block page_title %}
Job profiles | Explore Careers
{% endblock %}




<!-- Related Careers -->
{% set RelatedCareerName1 = 'Assistant immigration officer' %}
{% set RelatedCareerLink1 = '#' %}

{% set RelatedCareerName2 = 'Civil Service executive officer' %}
{% set RelatedCareerLink2 = '#' %}

{% set RelatedCareerName3 = 'Diplomatic service officer' %}
{% set RelatedCareerLink3 = '#' %}

{% set RelatedCareerName4 = 'Customs officer' %}
{% set RelatedCareerLink4 = '#' %}

{% block content %}

{% set serviceName = 'Explore careers' %}
{% set bannerStyle = 'BETA-style' %}

<main id="content">
    <h1 class="heading-large">Job profiles</h1>
    <div class="grid-row">

        <div class="column-one-half">
            <h2 class="heading-medium">Location 1</h2>
            <ul>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/fashion-model">Fashion model</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/firefighter">Firefighter</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/receptionist">Receptionist</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/train-driver">Train driver</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/1/web-designer">Web designer</a></li>
            </ul>
        </div>

        <div class="column-one-half">
            <h2 class="heading-medium">Location 1</h2>
            <ul>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/admin-assistant">Admin assistant</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/business-development-manager">Business development manager</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/criminal-intelligence-analyst">Criminal intelligence analyst</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/fashion-model">Fashion model</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/firefighter">Firefighter</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/immigration-officer">Immigration officer</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/receptionist">Receptionist</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/teaching-assistant">Teaching assistant</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/train-driver">Train driver</a></li>
                <li><a href="/_sprint{{currentSprint}}/e2e/job-profiles/2/web-designer">Web designer</a></li>
            </ul>
        </div>


    </div>
</main>


    {% endblock %}
















